# Environment variables (CRITICAL)
.env
.env.staging
.env.example

# Python
__pycache__/
*.py[cod]
venv/
.pytest_cache/
.ipynb_checkpoints/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform/lambda_function_payload.zip

# Data & DB
*.db
data/raw_schemes.json

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
